<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        #paging {
            list-style: none;
            float: left;
            padding: 6px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div id="root" class="container">
    <header>
        <h1>게시판</h1>
    </header>
    <div th:replace="~{common/nav :: nav}"></div>
    <section id="container" class="container">
        <form method="get" role="form">
            <table class="table table-hover">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                </tr>
                <tr th:each="item : ${list}">
                    <td th:text="${item.bno}"></td>
                    <td>
                        <!-- <a th:href="@{/board/readView(bno=${item.bno})}" th:text="${item.title}"></a>-->
                        <a th:href="@{/board/readView(bno=${item.bno}, page=${scri.page}, perPageNum=${scri.perPageNum}, searchType=${scri.searchType}, keyword=${scri.keyword})}">
                            <span th:text="${item.title}"></span>
                        </a>
                    </td>
                    <td th:text="${item.writer}"></td>
                    <td th:text="${#dates.format(item.regdate, 'yyyy-MM-dd')}"></td>
                </tr>
            </table>
            <div class="search row">
                <div class="col-xs-2 col-sm-2">
                    <select name="searchType" class="form-control">
                        <option value="n" th:selected="${scri.searchType == null}">전체</option>
                        <option value="t" th:selected="${scri.searchType == 't'}">제목</option>
                        <option value="c" th:selected="${scri.searchType == 'c'}">내용</option>
                        <option value="w" th:selected="${scri.searchType == 'w'}">작성자</option>
                    </select>
                </div>
                <div class="col-xs-10 col-sm-10">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keywordInput" th:value="${scri.keyword}"
                               class="form-control"/>
                        <span class="input-group-btn">
                                <button id="searchBtn" type="button" class="btn btn-default">검색</button>
                            </span>
                    </div>
                </div>

                <script>
                    $(function () {
                        $('#searchBtn').click(function () {
                            var searchType = $("select option:selected").val();
                            var keyword = encodeURIComponent($('#keywordInput').val());
                            var baseUrl = "/board/list";
                            var query = /*[[${pageMaker.makeQuery(1)}]]*/ '[[${pageMaker.makeQuery(1)}]]'; // Thymeleaf로 쿼리 문자열을 미리 생성

                            // 쿼리 문자열이 비어있지 않다면 '?'로 시작해야 함
                            if (query) {
                                query = '?' + query.substring(1); // 첫 번째 '&'를 '?'로 변경
                            } else {
                                query = '?'; // 기본적으로 '?' 추가
                            }

                            self.location = baseUrl + query + "&searchType=" + searchType + "&keyword=" + keyword;
                        });
                    });
                </script>
            </div>
        </form>
    </section>
</div>
<div class="col-md-offset-3">
    <ul class="pagination">
        <!--이전버튼-->
        <li th:if="${pageMaker.prev}" id="paging">
            <a th:href="@{'/board/list' + ${pageMaker.makeSearch(pageMaker.startPage -1)}}">이전</a>
        </li>

        <!--페이지 번호-->
        <li th:each="idx : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" class="info" id="paging">
            <a th:href="@{'/board/list' + ${pageMaker.makeSearch(idx)}}"
               th:text="${idx}"></a>
        </li>

        <!--다음버튼-->
        <li th:if="${pageMaker.next && pageMaker.endPage > 0}" id="paging">
            <a th:href="@{'/board/list' + ${pageMaker.makeSearch(pageMaker.endPage + 1)}}">다음</a>
        </li>
    </ul>
</div>
<hr/>
</body>
</html>