<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>게시판</title>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        var formObj = $("form[name='readForm']");

        //수정
        $(".update_btn").on("click", function () {
            formObj.attr("action", "/board/updateView");
            formObj.attr("method", "get");
            formObj.submit();
        })

        //삭제
        $(".delete_btn").on("click", function () {
            var deleteYN = confirm("삭제하시겠습니까?");
            if (deleteYN === true) {

                formObj.attr("action", "/board/delete");
                formObj.attr("method", "post");
                formObj.submit();
            }
        });

        // 목록
        var page = [[${scri.page}]]; // 기본값 설정
        var perPageNum = [[${scri.perPageNum}]];
        var searchType = /*[[${scri.searchType}]]*/ '[[${scri.searchType}]]';
        var keyword = /*[[${scri.keyword}]]*/ '[[${scri.keyword}]]';

        $(".list_btn").on("click", function () {
            location.href = "/board/list?page=" + page
                + "&perPageNum=" + perPageNum
                + "&searchType=" + searchType
                + "&keyword=" + keyword;
        });
    })
</script>
<body>
<div id="root">
    <header>
        <h1>게시판</h1>
    </header>
    <hr/>
    <div th:replace="~{board/nav :: nav}"></div>
    <hr/>

    <section id="container">
        <form name="readForm" role="form" method="post">
            <input type="hidden" id="bno" name="bno" th:value="${read.bno}"/>
            <input type="hidden" id="page" name="page" th:value="${scri.page}"/>
            <input type="hidden" id="perPageNum" name="perPageNum" th:value="${scri.perPageNum}"/>
            <input type="hidden" id="searchType" name="searchType" th:value="${scri.searchType}"/>
            <input type="hidden" id="keyword" name="keyword" th:value="${scri.keyword}"/>
        </form>
        <table>
            <tbody>
            <tr>
                <td>
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" th:value="${read.title}"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="content">내용</label>
                    <textarea id="content" name="content" th:text="${read.content}"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="writer">작성자</label>
                    <input type="text" id="writer" name="writer" th:value="${read.writer}"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="regdate">작성날짜</label>
                    <span th:text="${#dates.format(read.regdate, 'yyyy-MM-dd')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="update_btn">수정</button>
            <button type="submit" class="delete_btn">삭제</button>
            <button type="submit" class="list_btn">목록</button>
        </div>

        <div id="reply">
            <ol class="replyList">
                <th:block th:each="reply : ${replyList}">
                    <li>
                        <p>
                            작성자 : <span th:text="${reply.writer}"></span><br/>
                            작성 날짜 : <span th:text="${#dates.format(reply.regdate, 'yyyy-MM-dd')}"></span>
                        </p>
                        <p th:text="${reply.content}"></p>
                    </li>
                </th:block>
            </ol>
        </div>
    </section>
</div>
</body>
</html>