<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common :: common}">
</head>
<style>
    #fileIndex .form-group {
        display: flex; /* Use flexbox to align items */
        align-items: center; /* Vertically align items */
        margin-bottom: 10px; /* Add some space between rows */
    }

    #fileIndex input[type="file"] {
        flex: 1; /* Allow file input to take available space */
        margin-right: 10px; /* Add spacing between file input and button */
    }

    #fileIndex button {
        flex-shrink: 0; /* Prevent the button from shrinking */
        cursor: pointer; /* Make the button visually interactive */
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var formObj = $("form[name='writeForm']");

        $(document).on("click", "#fileDel", function () {
            $(this).parent().remove();
        })
        fn_addFile();

        $(".write_btn").on("click", function () {
            if (fn_valiChk()) {
                return false;
            }
            formObj.attr("action", "/board/write");
            formObj.attr("method", "post");
            formObj.submit();
        })
    })

    function fn_valiChk() {
        var regForm = $("form[name='writeForm'] .chk").length;
        for (var i = 0; i < regForm; i++) {
            if ($(".chk").eq(i).val() === "" || $(".chk").eq(i).val() == null) {
                alert($(".chk").eq(i).attr("title"));
                return true;
            }
        }
    }

    function fn_addFile() {
        var fileIndex = 1;
        $(".fileAdd_btn").on("click", function () {
            $("#fileIndex").append("<div class=\"form-group\"><input type='file' style='float:left;' name='file_" + (fileIndex++) + "'>" + "<button type='button' style='float:right;' id='fileDelBtn'>" + "삭제" + "</button></div>");
        })
        $(document).on("click", "#fileDelBtn", function () {
            $(this).parent().remove();

        });
    }
</script>
<body>

<div class="container" id="root">
    <header>
        <h1>게시판</h1>
    </header>
    <div th:replace="~{common/nav :: header}"></div>
    <!-- Include Sidebar -->
    <div th:replace="~{common/sidebar :: sidebar}"></div>
    <section id="container" class="container" style="margin-top: -634px;">
        <div th:if="${session.member != null and session.member.userid != null}">
            <form name="writeForm" method="post" th:action="@{/board/write}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">제목</label>
                    <input type="text" id="title" name="title" class="chk form-control" title="제목을 입력하세요"/>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">내용</label>
                    <textarea id="content" name="content" class="chk form-control" title="내용을 입력하세요"></textarea>
                </div>
                <div class="form-group">
                    <label for="writer" class="col-sm-2 control-label">작성자</label>
                    <input type="text" id="writer" name="writer" class="chk form-control" title="작성자를 입력하세요"/>
                </div>

                <div class="form-group">
                    <input type="file" name="file"/>
                </div>
                <div class="form-group" id="fileIndex">

                </div>
                <div class="form-group">
                    <button class="write_btn btn btn-warning" type="submit">작성</button>
                    <button class="fileAdd_btn btn btn-primary" type="button">파일추가</button>
                </div>
            </form>
        </div>
        <div th:if="${session.member == null or session.member.userid == null}">
            <p>로그인 후에 작성하실 수 있습니다.</p>
        </div>
    </section>
    <hr/>
</div>
</body>
</html>