<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<head th:replace="~{common/common :: common}">

</head>
<title>회원가입</title>
<script type="text/javascript">
    $(document).ready(function () {
        // 취소
        $(".cancel").on("click", function () {
            location.href = "/";
        })
        $("#submit").on("click", function () {

            if ($("#userid").val().trim() === "") {
                alert("아이디를 입력해주세요.");
                $("#userid").focus();
                return false;
            }

            if ($("#userid").val().trim() === "") {
                alert("아이디를 입력해주세요.");
                $("#userid").focus();
                return false;
            }
            if ($("#userpass").val().trim() === "") {
                alert("비밀번호를 입력해주세요.");
                $("#userpass").focus();
                return false;
            }
            if ($("#username").val().trim() === "") {
                alert("성명을 입력해주세요.");
                $("#username").focus();
                return false;
            }

            if ($("#idChk").val() === "N") {
                alert("아이디가 중복되거나 중복확인을 하지 않았습니다.")
                return false;
            }

        });

    })

    function fn_idChk() {
        $.ajax({
            url: "/member/idChk",
            type: "get",
            dataType: "json",
            data: {"userid": $("#userid").val()},
            success: function (data) {
                if (data === 1 && $("#userid").val().trim() !== "") {
                    $("#idChk").attr("value", "N");
                    alert("중복된 아이디입니다.")
                } else if (data === 0 && $("#userid").val().trim() !== "") {
                    $("#idChk").attr("value", "Y");
                    alert("사용가능한 아이디입니다");
                }
            }
        })
    }
</script>
<body>
<section id="container">
    <form th:action="@{/member/register}" method="post">
        <div class="form-group has-feedback">
            <label class="control-label">아이디</label>
            <input class="form-control" type="text" id="userid" name="userid"/>
            <button class="idChk" type="button" id="idChk" th:onclick="fn_idChk()" value="N">중복확인</button>

        </div>

        <div class="form-group has-feedback">
            <label class="control-label">비밀번호</label>
            <input class="form-control" type="text" id="userpass" name="userpass"/>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">성명</label>
            <input class="form-control" type="text" id="username" name="username"/>
        </div>

        <div class="form-group has-feedback">
            <button class="btn btn-success" type="submit" id="submit">회원가입</button>
            <button class="btn btn-danger cancel" type="button">취소</button>
        </div>
    </form>
</section>
</body>
</html>