<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <insert id="register">
        /*회원가입 register*/
        INSERT INTO MP_MEMBER( userid
                             , userpass
                             , username)
        VALUES ( #{userid}
               , #{userpass}
               , #{username})
    </insert>
    <select id="login" resultType="com.board.vo.MemberVO">
        /*로그인 login*/
        select userid, userpass, username
        from mp_member
        where userid = #{userid}
          and userpass = #{userpass}
    </select>

    <update id="memberUpdate">
        update mp_member
        set userpass = #{userpass},
            username = #{username}
        where userid = #{userid}
    </update>
</mapper>