<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">
    <select id="listReply" resultType="com.board.vo.ReplyVO">
        /*댓글조회*/
        select re_rno,
               re_content,
               re_writer,
               re_regdate
        from mp_reply
        where bno = #{bno}
    </select>

    <insert id="writeReply">
        /*댓글 작성*/
        insert into mp_reply(bno,
                             re_rno,
                             re_content,
                             re_writer)
        VALUES ( #{bno}
               , mp_reply_seq.nextval
               , #{re_content}
               , #{re_writer})
    </insert>

    <update id="updateReply" parameterType="com.board.vo.ReplyVO">
        /*댓글수정*/
        update mp_reply
        set re_content = #{re_content}
        where
            re_rno = #{re_rno}
    </update>

    <delete id="deleteReply" parameterType="com.board.vo.ReplyVO">
        /*댓글 삭제*/
        delete from mp_reply
        where
            re_rno = #{re_rno}
    </delete>

    <select id="selectReply" resultType="com.board.vo.ReplyVO">
        /*선택된 댓글 조회*/
        select bno,
               re_rno,
               re_content,
               re_writer,
               re_regdate
        from mp_reply
        where
            re_rno = ${re_rno}
    </select>
</mapper>